*{
    margin:0;
    padding:0;
}
body{
    background-attachment: fixed;
    font-family: 'Verdana','Arial';
    width: 100%;
}
#change_theme{
    position: fixed;
    top: 35%;
    width: 2em;
    height: 6em;
    background: #333;
    display:flex;
    flex-flow: column;
    #to_green{
        background: #235E3D;
    }
    #to_red{
        background: rgb(158, 0, 0);
    }
    #to_blue{
        background: #0003aa;
    }
    #to_green,
    #to_red,
    #to_blue{
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        margin:auto;
    }
}
main{
    display: flex;
    flex-flow: column;
    background: white;
    margin:0px auto;
    margin-top: 2em;
    width: 85%;
    padding: 2em;
    max-width: 1000px;
}
#header{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    #logo{
        width: 100%;
        text-align: center;
        line-height: 2em;
        color:white;
        letter-spacing: .3em;
    }
    #menu{
        width: 100%;
        background: #333;
        margin: 1em 0;
        ul{
            
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            flex-wrap: wrap;
            li{
                a{
                    line-height: 3em;
                    text-decoration: none;
                    color: white;
                    padding: .85em;
                }
            }
        }
    }

}
#slider{
    img{
        object-fit: fill;
        max-height: 30vh;
    }
}
#content{
    display: flex;
    flex-wrap: wrap;
    #posts, #box{
        display: flex;
        flex-direction: column;
        width: 70%;
        min-width: 300px;
        align-items: center;
        h3{
            margin-bottom: 1em;
        }
        .post{
            padding: 0em 3em 1em 0;
            h3{
                padding: 0;
                font-size: 2em;
                margin-bottom: 0;
            }
            .date{
                font-size: .9em;
                color: grey;
            }
            p{
                margin: 1em 0;
            }
            .more{
                padding: .6em;
                text-decoration: none;
                color: white;
            }
        }
        #accordion{
            padding: 1em 3em 1em 0;
        }
    }
    #sidebar{
        h2, h4{
            text-align: center;
        }
        width: 27%;
        h2{
            font-size: 1.3em;
        }
        p{}
        figure{
            margin: 1em 0;
        }
        #caracol{
            width: 100%;
        }
        h4{
            margin: 1.5em 0 .5em 0 ;
            font-size: 1.2em;
        }
        form{
            display: flex;
            flex-flow: column;
            input[type="text"],
            input[type="email"]{
                padding: .2em;
                margin: .3em 0 .8em 0;
            }
            input[type="submit"]{
                padding: .3em;
                cursor: pointer;
                margin-bottom: .8em;
                width: 4em;
            }
        }
        #logout{
            padding: .3em;
            margin-top: 1em;
            cursor: pointer;
        }
    }
}

footer{
    background: #333;
    color:white;
    /*padding: 1em;*/
    /*margin:1em 0 -1em 0;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    #up{
        padding: .85em;
        color: white;
        text-decoration: none;
    }
}
#galery{
    width: 95%;
    #boss{
        display: flex;
        flex-flow: column;
    }
    #employee{
        display: flex;
        flex-flow: column;
        margin: 0 auto;
    }
    /*#boss{
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
        grid-template-rows: 1fr;
        gap: 1em;
        width: 95%;
        #caracolardo{
            grid-area: 1 / 1 / 2 / 2;
        }
        #caracolberto{
            grid-area: 1 / 2 / 2 / 3;
        }
        margin: 1em 0;
    }
    #employee{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        width: 95%;
        #caracolia{
            grid-area: 1 / 1 / 2 / 3;
        }
        #caraclos{
            grid-area: 1 / 3 / 2 / 5;
        }
        #caracolana{
            grid-area: 1 / 5 / 2 / 7;
        }
        #caracolena{
            grid-area: 2 / 2 / 3 / 4;
        }
        #caracoluis{
            grid-area: 2 / 4 / 3 / 6;
        }
        margin-bottom: 1em;
    }*/
    figure{
        img{
            width: 100%;
            margin-bottom:em;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
                transition: 1s;
            }
        }
        figcaption{
            margin: 1em 0 2em 0;
        }
    }

}
#form_contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    input{
        padding: .2em;
        margin: 0 0 .8em 0 ;
    }
    label{
        margin: 0 0 .2em 0;
    }
    input[type="submit"]{
        padding: .3em;
        cursor: pointer;
        width: fit-content;
    }
    ::placeholder{
        color: #c7c7c7;
    }
}
#name-error, #second_name-error, #email-error, #birth-error{
    color: red;
    font-weight: bolder;
}
/*@media screen and (min-width: 480px){
    #boss{
        display: flex;
        flex-flow: column;
    }
    #employee{
        display: flex;
        flex-flow: column;
    }
    #boss{
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
        grid-template-rows: 1fr;
        gap: 1em;
        width: 95%;
        #caracolardo{
            grid-area: 1 / 1 / 2 / 2;
        }
        #caracolberto{
            grid-area: 1 / 2 / 2 / 3;
        }
        margin: 1em 0;
    }
    #employee{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1em;
        width: 95%;
        #caracolia{
            grid-area: 1 / 1 / 2 / 3;
        }
        #caraclos{
            grid-area: 1 / 3 / 2 / 5;
        }
        #caracolana{
            grid-area: 1 / 5 / 2 / 7;
        }
        #caracolena{
            grid-area: 2 / 2 / 3 / 4;
        }
        #caracoluis{
            grid-area: 2 / 4 / 3 / 6;
        }
        margin-bottom: 1em;
    }
}*/
.hidden{
    display: none;
}
